.about{
    text-align: left;
}
.about{
    display: flex;
    align-items: center;
    padding: 4%;
}
.about h1{
    color: #1FC58E;
    text-align: left;
    font-size: 68px;
    width: 700;
}
.about h3{
    color:#FAE62D;
    
   
    font-size: 48px;
    width: 700;
}
.about span{
    color:#FAE62D;
    
    font-size: 68px;
    width: 700;
}
.about img{
    width: 80%;
}
.about p{
    font-size: 22px;
    color: rgb(73, 72, 72);
}

.about Button{
    color: #00583b ;
    background-color:#FAE62D;;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #1FC58E ;
    border-radius: 5px;
}
.about Button:hover{
    
    color: #1FC58E;
   background-color: transparent;
   border: 3px solid #1FC58E ;
}
